### NextJS ###
# Next build dir
.next/
next.config.js

### React ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.DS_Store
# React folders
public/

### Node ###
node_modules/
.env.local
.eslintrc.json
