.navigation {
    background: rgb(142, 118, 0);
}

.navigation > button {
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
}

.navigation > button span {
    display: inline-block;
    width: 5em;
    height: 0.5em;
    background-color: rgb(56, 51, 51);
    margin: 0.5em;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.navigation > button span:nth-child(1){
    transform-origin: 0 0;
}

.navigation > button span:nth-child(3) {
    transform-origin: 0 100%;
}

.navigation ul {
    gap: 0.5em;
}

.navigation li {
    list-style: none;
}